/* Root */
:root {
    --cor-azul-escuro: #441092;
    --cor-roxo: #723ed1;
    --cor-roxo-claro: #7f5ce5;
    --cor-azul: #0089bc;
    --cor-azul-claro: #0bb9e3;
    --cor-branca: #ffffff;
    --cor-cinza: #ccc;
    --cor-vermelha: #e74c3c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 100vh;
    background: var(--cor-roxo-claro);
}

.left-side {
    flex: 1;
    background-color: var(--cor-roxo);
    color: var (--cor-branca);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-image: url('/codigo/assets/imgs/background-images/fundocadastro.png');
    background-position: center;
}

.left-side .content {
    text-align: center;
    max-width: 300px;
}

.left-side .logo {
    width: 200px;
    margin-bottom: 20px;
}

.left-side h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--cor-branca);
}

.left-side p {
    margin-bottom: 20px;
    color: var(--cor-cinza);
}

.left-side .social-icons a {
    color: var (--cor-branca);
    margin: 0 10px;
    font-size: 1.5em;
}

.right-side {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--cor-branca);
}

.registration-form {
    max-width: 600px;
    margin: auto;
}

.registration-form h2 {
    margin-bottom: 20px;
    color: var(--cor-azul-escuro);
}

.registration-form .btn-google,
.registration-form .btn-facebook,
.registration-form .btn-apple {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32%;
    padding: 15px;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0 1%;
    font-size: 16px;
    cursor: pointer;
}

.registration-form .btn-google {
    background: #db4a39;
}

.registration-form .btn-facebook {
    background: #3b5998;
}

.registration-form .btn-apple {
    background: #000000;
}

.registration-form .btn-google i,
.registration-form .btn-facebook i,
.registration-form .btn-apple i {
    margin-right: 10px;
}

.registration-form p {
    text-align: center;
    margin-bottom: 20px;
}

.registration-form .form-group {
    margin-bottom: 20px;
}

.registration-form .form-group input,
.registration-form .form-group select {
    width: 100%;
    padding: 15px;
    border: 1px solid var(--cor-cinza);
    border-radius: 5px;
}

.registration-form .form-group select {
    color: var(--cor-cinza);
}

.registration-form .form-group select:focus,
.registration-form .form-group select option:not([value=""]) {
    color: black;
}

.registration-form .form-check {
    margin-bottom: 20px;
}

.registration-form .form-check input {
    margin-right: 10px;
}

.registration-form .form-check-label a {
    color: var(--cor-azul-escuro);
    text-decoration: none;
}

.registration-form .btn-primary {
    width: 100%;
    padding: 15px;
    background: var(--cor-roxo);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

.social-login-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.registration-form .login-link {
    text-align: center;
    margin-top: 20px;
}

.registration-form .login-link a {
    color: var(--cor-azul);
    text-decoration: none;
    font-weight: bold;
}

input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

input[type="file"]::before {
    content: 'Escolher arquivo';
    display: inline-block;
    border: none;
    padding: 10px 20px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
}

input[type="file"]:hover::before {
    background: var(--cor-cinza);
}

.file-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.file-info i {
    margin-right: 10px;
    color: var(--cor-azul-escuro);
}

/* Media Queries */
@media (max-width: 1024px) {
    .left-side, .right-side {
        padding: 20px;
    }

    .registration-form {
        padding: 20px;
    }
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .left-side, .right-side {
        flex: none;
        width: 100%;
    }

    .right-side {
        padding: 20px;
    }

    .registration-form .form-row {
        flex-direction: column;
    }

    .registration-form .form-group {
        width: 100%;
    }

    .social-login-buttons {
        flex-direction: column;
    }

    .registration-form .btn-google,
    .registration-form .btn-facebook,
    .registration-form .btn-apple {
        width: 100%;
        margin-bottom: 10px;
    }

    .registration-form .btn-google:last-child,
    .registration-form .btn-facebook:last-child,
    .registration-form .btn-apple:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 480px) {
    .left-side .logo {
        width: 150px;
    }

    .left-side h1 {
        font-size: 1.5em;
    }

    .left-side p {
        font-size: 0.9em;
    }

    .social-login-buttons .btn-google,
    .social-login-buttons .btn-facebook,
    .social-login-buttons .btn-apple {
        font-size: 14px;
        padding: 10px;
    }

    .registration-form h2 {
        font-size: 1.5em;
    }

    .registration-form .btn-primary {
        font-size: 14px;
        padding: 10px;
    }

    .registration-form .form-group input {
        padding: 10px;
    }

    .file-info span {
        font-size: 14px;
    }
}