/* Root */
:root {
    --cor-azul-escuro: #441092;
    --cor-roxo: #723ed1;
    --cor-roxo-claro: #7f5ce5;
    --cor-azul: #0089bc;
    --cor-azul-claro: #0bb9e3;
    --cor-branca: #ffffff;
}

/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tags do Body */
body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: var(--cor-branca);
    overflow: hidden;
}

.container-fluid {
    display: flex;
    height: 100vh;
    background: var(--cor-roxo-claro);
}

img {
    width: 75%;
    height: auto;
    border-radius: 3%;
}

.forgot-password-form {
    max-width: 400px;
    margin: auto;
    background: var(--cor-branca);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.forgot-password-form h2 {
    margin-bottom: 10px;
    color: var(--cor-azul-escuro);
}

.forgot-password-form p {
    margin-bottom: 20px;
    color: var(--cor-azul-escuro);
}

.forgot-password-form .form-group {
    margin-bottom: 20px;
}

.forgot-password-form .form-group input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.forgot-password-form .btn-primary {
    width: 100%;
    padding: 15px;
    background: var(--cor-roxo);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.forgot-password-form .login-link {
    text-align: center;
    margin-top: 20px;
}

.forgot-password-form .login-link a {
    color: var(--cor-azul);
    text-decoration: none;
    font-weight: bold;
}
