/* Root */
:root {
    --cor-azul-escuro: #441092;
    --cor-roxo: #723ed1;
    --cor-roxo-claro: #7f5ce5;
    --cor-azul: #0089bc;
    --cor-azul-claro: #0bb9e3;
    --cor-branca: #ffffff;
}

/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tags do Body */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f6f9;
}

/* Barra Lateral */
.sidebar {
    width: 60px;
    height: 100vh;
    background-color: var(--cor-roxo);
    position: fixed;
    transition: width 0.2s;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
}

.sidebar:hover {
    width: 200px;
}

.sidebar-header {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar-header .logo {
    width: 100%;
    max-width: 40px;
    transition: max-width 0.2s;
}

.sidebar:hover .sidebar-header .logo {
    max-width: 150px;
}

.sidebar-menu, .sidebar-footer {
    display: flex;
    flex-direction: column;
}

.menu-item {
    text-align: center;
    padding: 10px 5px;
    color: var(--cor-branca);
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.2s, color 0.2s;
}

.menu-item:hover {
    background-color: var(--cor-azul);
}

.menu-text {
    display: none;
    margin-left: 10px;
}

.sidebar:hover .menu-text {
    display: inline;
}

.sidebar:hover .menu-item {
    display: flex;
    align-items: center;
    justify-content: start;
}

/* Conteúdo */
.content {
    margin-left: 60px;
    padding: 20px;
    transition: margin-left 0.2s;
}

.sidebar:hover ~ .content {
    margin-left: 200px;
}

.content h1 {
    font-size: 28px;
    color: var(--cor-azul-escuro);
    margin-bottom: 20px;
}

/* Resumo dos Investimentos */
.investment-summary {
    background-color: var(--cor-branca);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.investment-summary h2 {
    font-size: 24px;
    color: var(--cor-azul-escuro);
    margin-bottom: 20px;
}

.summary-details {
    display: flex;
    justify-content: space-between;
}

.detail-item {
    text-align: center;
}

.detail-item h3 {
    font-size: 20px;
    color: var(--cor-roxo);
    margin-bottom: 10px;
}

.detail-item p {
    font-size: 18px;
    color: var(--cor-azul-escuro);
}

/* Gráficos de Investimento */
.investment-charts {
    background-color: var(--cor-branca);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.investment-charts h2 {
    font-size: 24px;
    color: var(--cor-azul-escuro);
    margin-bottom: 20px;
}

.chart-container {
    margin-bottom: 20px;
    padding: 5px;
}

.chart-container h3 {
    font-size: 20px;
    color: var(--cor-roxo);
    margin-bottom: 10px;
}

/* Indicadores de Performance */
.performance-indicators {
    background-color: var(--cor-branca);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.performance-indicators h2 {
    font-size: 24px;
    color: var(--cor-azul-escuro);
    margin-bottom: 20px;
}

.indicator-item {
    text-align: center;
    margin-bottom: 20px;
}

.indicator-item h3 {
    font-size: 20px;
    color: var(--cor-roxo);
    margin-bottom: 10px;
}

.indicator-item p {
    font-size: 18px;
    color: var(--cor-azul-escuro);
}

/* Estilos para os gráficos */
canvas {
    max-width: 100%;
    height: auto;
}

#organize {
    display: flex;
    flex-direction: row;
}

#ladodir {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#baixo {
    margin-left: 35px;
}

/* Estilo para a seção de controle de gastos */
.expenses-container {
    padding: 20px;
    max-width: 1150px;
    margin: 0 10%;
}

.expenses-container h2 {
    color: var(--cor-azul-escuro);
}

.form-and-chart {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#expense-form {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 45%;
}

#expense-form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #8551D9;
}

#expense-form input, #expense-form select {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#expense-form button {
    background-color: #441092;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#expense-form button:hover {
    background-color: #006bb3;
}

#expenses-table {
    width: 1282px;
    border-collapse: collapse;
    margin-top: 20px;
}

#expenses-table th, #expenses-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#expenses-table th {
    background-color: #441092;
    color: white;
}

#expenses-table .actions {
    display: flex;
    gap: 10px;
}

.edit-button, .delete-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.edit-button {
    background-color: #d1b828;
}

.delete-button {
    background-color: #FF6347;
}
